/* button 
---------------------------------------------- */
.button {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}

.bigrounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}
.medium {
    font-size: 12px;
    padding: .4em 1.5em .42em;
}
.small {
    font-size: 11px;
    padding: .2em 1em .275em;
}

/* color styles 
---------------------------------------------- */

/* black */
.black {
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top,  #666,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
    background: -moz-linear-gradient(top,  #444,  #000);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
    color: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
    background: -moz-linear-gradient(top,  #000,  #444);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* gray */

.gray {
    background:  url("../images/form/btn_background_gray.png");
    opacity: 0.9;
    background-repeat:no-repeat;
    background-position: 0px,0px;
    background-size: 100% 100%;
    border: 0px;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    padding: 6px 15px 5px 15px;
    margin-top:0px;
}
.gray:hover {
    border: 0px;
    opacity: 1;
    color: #f9f9f9;
}
.gray:active {
    border: 0px;
    opacity: 1;
    color: #f9f9f9;
}
/* white */
.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* green */
.green {
	display:inline-block;
    border: 0px;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    padding: 6px 15px 5px 15px;
    background:  url("../images/form/btn_background.png");
    opacity: 0.9;
    background-repeat:no-repeat;
    background-position: 0px,0px;
    background-size: 100% 100%;
}
.green:hover {
    color: #f9f9f9;
    opacity: 1;
}
.green:active {
    color: #f9f9f9;
    opacity: 1;
}

.green_disabled {
    display:inline-block;
    border: 0px;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    padding: 6px 15px 5px 15px;
    background:  url("../images/form/btn_background.png");
    opacity: 0.6;
    background-repeat:no-repeat;
    background-position: 0px,0px;
    background-size: 100% 100%;
}

.green_disabled:hover, .green_disabled:focus, .green_disabled:active {
    display:inline-block;
    
    background-color: #b7d7a5;
    color: #f9f9f9;
}



.button_add {
	display:inline-block;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    padding: 6px 9px 5px 33px;
    background: url("../images/icons/add.png") , url("../images/form/btn_background.png");
    opacity: 0.9;
    background-repeat:no-repeat,no-repeat;
    background-position: 10px center,0px,0px;
    background-size: 15px 15px,100% 100%;
}

.button_add:hover, .button_add:focus, .button_add:active {
    color: #f9f9f9;
    opacity: 1;
}

.button_add_disabled {
	display:inline-block;
	background: url("../images/icons/add.png") no-repeat scroll 9px center #b7d7a5;
    border-radius: 3px 3px 3px 3px;
    color: #f9f9f9;
    font-size:14px;
    cursor: default;
    padding: 6px 9px 5px 33px;
}

.button_add_disabled:hover, .button_add_disabled:focus, .button_add_disabled:active {
    display:inline-block;
    
    background-color: #b7d7a5;
    color: #f9f9f9;
}

.button_delete {
	display:inline-block;
    background-size: auto;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    padding: 6px 9px 5px 31px;
    background: url("../images/icons/delete.png") , url("../images/form/btn_background_red.png");
    opacity: 0.9;
    background-repeat:no-repeat,no-repeat;
    background-position: 10px center,0px,0px;
    background-size: 15px 15px,100% 100%;
}

.button_delete:hover, .button_delete:focus, .button_delete:active {
	display:inline-block;
    opacity: 1;
    color: #f9f9f9;
}


/*.button_view {
	display:inline-block;
    background: url("../images/form/view.png") no-repeat scroll 9px center #72b14c;
    border: 1px solid #5f9d3a;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    padding: 7px 9px 7px 33px;
}

.button_view:hover, .button_view:focus, .button_view:active {
    border: 0px;
    color: #f9f9f9;
}*/

.button_view {
    display:inline-block;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    padding: 6px 9px 5px 33px;
    background: url("../images/form/view.png") , url("../images/form/btn_background.png");
    opacity: 0.9;
    background-repeat:no-repeat,no-repeat;
    background-position: 10px center,0px,0px;
    background-size: 15px 15px,100% 100%;
}

.button_view:hover, .button_view:focus, .button_view:active {
    color: #f9f9f9;
    opacity: 1;
}


.button_crop {
    display:inline-block;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    padding: 6px 13px 5px 36px;
    background: url("../images/icons/crop.png") , url("../images/form/btn_background.png");
    opacity: 0.9;
    background-repeat:no-repeat,no-repeat;
    background-position: 10px center,0px 0px;
    background-size: 21px 21px,100% 100%;
}

.button_crop:hover, .button_crop:focus, .button_crop:active {
    color: #f9f9f9;
    opacity: 1;
}

.button_refresh {
	width: 33px;
    height: 31px;
    display:none;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    background: url("../images/form/btn_refresh.png");
    opacity: 0.9;
    background-repeat:no-repeat,no-repeat;
    background-position: 0px 0px;
    background-size: 33px 31px;
}

.button_refresh:hover, .button_refresh:focus, .button_refresh:active {
    color: #f9f9f9;
    opacity: 1;
}

.button_filter{
	display:block;
	width: 33px;
    height: 31px;
    color: #f9f9f9;
    font-size:14px;
    cursor: pointer;
    background: url("../images/form/btn_refresh.png");
    opacity: 0.9;
    background-repeat:no-repeat,no-repeat;
    background-position: 0px 0px;
    background-size: 33px 31px;
}

.button_filter:hover, .button_refresh:focus, .button_refresh:active {
    color: #f9f9f9;
    opacity: 1;
}
